.footer{
    @include flex-center;
    flex-direction: column;
    background-color: black;
    padding: 66px 0 70px 0;  
}

.footer-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.37;
    color: #FEFEFE;
    text-transform: uppercase;
    margin: 0 0 22px 0;
    
    &::before,
    &::after{
        content: "-";
        padding: 0 5px;
    }
}

.footer-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: rgba(185, 185, 185, 1);
    max-width: 700px;
    text-align: center;

    & > a{
        text-decoration: none;
        color: rgba(185, 185, 185, 1);
        transition: color 0.3s linear ;
        &:hover{
            color: $hover-color;
        }
    }

    & > .mail::before,
        .adress::after{
        content: "/";
        padding: 0 10px;
    }
}

.social-icon-wrapper{
    display: flex;
    margin: 35px 0;
}

.footer-icon{
    @include flex-center;
    width: 34px;
    height: 34px;
    border-radius: 50%;

    &:not(:last-child){
        margin: 0 5px 0 0 ;
    }

    &--rss{
        border: 2px solid rgba(248,144,46,1);
    }

    &--facebook{
        border: 2px solid rgba(57,89,159,1);
    }

    &--twitter{
        border: 2px solid rgba(69,176,227,1);
    }

    &--dribbler{
        border: 2px solid rgba(217,122,176,1);
    }

    &--pinterest{
        border: 2px solid rgba(204,33,44,1);
    }
}

@media (max-width: 1199.98px){
    .footer{
        padding: 56px 0;
    }
}


@media (max-width: 767.98px){

    .footer{
        padding: 38px 35px 46px;
    }

    .footer-title{
        font-size: 14px;
        line-height: 1.57;
        margin: 0 0 8px 0;
    }

    .footer-info{
        font-size: 12px;
        line-height: 1.67;
    }

    .social-icon-wrapper{
        margin: 26px 0;
    }

    .contacts{
        @include flex-center;
        flex-direction: column;
        font-size: 14px;
        line-height: 1.71;
    }
}