.head{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.navigation{
    margin: 28px 0;
    position: relative;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 16px 0;
}

.nav-link{
    text-decoration: none;
    text-transform: uppercase;
    color: $prim-color;
    font-size: 11px;
    line-height: 2;
    letter-spacing: 1.1px;
    transition: color 0.3s ease-in-out;
    &:hover{
        color: $hover-color;
    }
}

.nav-link--active{
    color: $hover-color;
}

.burger{

    display: none;
    background-color: black;
    padding: 17.5px 13.5px;
    text-decoration: none;
    
    & span{
        position: relative;
        display: block;
        width: 17px;
        height: 2px;
        background-color: white;
        transition: all 0.1s linear;

        &::before, 
        &::after{
            content: '';
            position: absolute;
            width: 17px;
            height: 2px;
            background-color: white;
            transition: all 0.2s linear;
        }

        &::before{
            top: 4px;
        }

        &::after{
            top: -4px;
        }

    }

    &.active{
        
        & span{
            background-color: transparent;
        }

        & span::before{
            transform: rotate(45deg);
            top: 0;
        }

        & span::after{
            transform: rotate(-45deg);
            top: 0;
        }

    }
}

.header-intro > img{
    width: 100%;
}



@media (max-width: 1199.98px){

    .head{
        padding: 0 80px;
    }

}


@media (max-width: 767.98px){

    .head{
        padding: 0 28px 10px 28px;
    }

    .navigation{
        display: flex;
        justify-content: flex-end;
    }

    .nav-list{
        position: absolute;
        top: 100%;
        background-color: #F5F5F5;
        width: 182px;
        transform: scaleY(0);
        transition: all 0.2s linear;
        transform-origin: left top;
        &.active{
            transform: scaleY(1);
        }
    }
    
    .nav-list{
        padding: 0;
        flex-direction: column;
        & li{
            width: 100%;
        }
    }
    
    .nav-link{
        display: inline-block;
        padding: 4px 0;
        padding-left: 13px;
        width: 100%;
        transition: background-color 0.3s linear;
        &:active,
        &:hover{
            background-color: #e5e5e5;
        }
    }

    .burger{
        display: inline-block;
    }
}