.instagram-bg{
    background-color:rgba(0, 0, 0, 0.03);
}

.instagram-section{
    max-width: 1200px;
    padding: 47px 15px;
    margin: 0 auto;
}

.title-instagram-wrapper{
    display: flex;
    justify-content: space-between;
}

.instagram-link{
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.69;
    color: $prim-color;
    &:after{
        content: "-";
        padding-left: 5px;
    }
}

.instagram-img-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0 0 0;
}

.instagram-img{
    width: calc((100% - 30px) / 4);

    &:not(:nth-child(4n)){
        margin-right: 10px;
    }
    & > img{
        width: 100%;
    }
}

@media (max-width: 1199.98px){

    .instagram-section{
        padding: 47px 80px;
    }

    .title-instagram-wrapper{
        padding-bottom: 13px;
    }

    .instagram-img{
        width: calc((100% - 20px) / 3);

        &:nth-child(n+3){
            margin-right: 0;
        }

        &:nth-child(n+4){
            display: none;
        }
    }
}

@media (max-width: 767.98px){

    .instagram-bg{
        background-color: transparent;
    }



    .instagram-section{
        padding: 38px 47px 42px 25px;
    }

    .instagram-link{
        display: none;
    }

    .instagram-img{
        width: 100%;
        &:first-child{
            margin: 0;
        }
        &:not(:first-child){
            display: none;
        }
    }

}