.post-section{
    max-width: 1200px;
    padding: 66px 15px;
    margin: 0 auto;
}

.section-title{
    color: $prim-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.37;
    text-transform: uppercase;
    &::before{
        content: "-";
        padding-right: 5px;
    }
}

.post-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding-top: 24px;
}

.post{
    width: 50%;
    display: flex;
    margin-bottom: 32px;
    &:nth-child(odd){
        padding:  0 12.5px 0 0 ;
    }
    &:nth-child(even){
        padding:  0 0 0 12.5px;
    }
}

.post-img{
    width: 160px;
    & > img{
        width: 100%;
    }
}

.post-intro{
    width: calc(100% - 160px);
    padding: 0 0 0 20px;
}

.post-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: $prim-color;
    padding-bottom: 1px;
}

.post-comments{
    color: rgba(124, 124, 124, 1);
    font-size: 12px;
    line-height: 1.67;
    font-weight: 400;
    padding-bottom: 13px;
    text-decoration: none;
    &:hover{
        text-decoration: underline
    }
}

.post-info{
    font-size: 14px;
    line-height: 1.86;
    color: $prim-color;
    font-weight: 400;
}

@media (max-width: 1199.98px){

    .post-section{
        padding: 66px 80px;
    }

    .post{
        min-width: 90%;
        &:nth-child(odd){
            padding: 0;
        }
        &:nth-child(even){
            padding: 0;
        }
    }

    .post-info{
        max-width: 400px;
    }
}

@media (max-width: 767.98px){

    .post-section{
        padding: 30px 26px;
    }

    .section-title{
        font-size: 14px;
    }

    .post{
        width: 100%;
        flex-direction: column;
        gap: 0;
    }

    .post-intro{
        width: 100%;
        padding: 0;
    }

    .post-title{
        padding: 11px 0 0 0;
        font-size: 14px;
    }

    .post-comments{
        font-size: 11px;
    }

    .post-info{
        display: none;
    }
}